body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfb0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    background-color: rgb(218, 193, 193);
    width: 400px;
    text-align: center;
}

th, td {
    padding: 20px;
    border: 1px solid #ddd;
}

th {
    background-color: #ec8c8c;
    color: rgb(54, 11, 11);
    font-weight: normal;
}

td {
    font-size: 15px;
}